<?xml version="1.0"?>
<launch>
  <arg name="thrust_config" default="H"/>

  <include file="$(find autonomy_boat)/launch/course_controller.launch">
        <arg name="thrust_config" value="$(arg thrust_config)"/>
    </include>

    <include file="$(find autonomy_boat)/launch/waypoint_follower.launch"/>

</launch>
