vrx/wamv_description/models/pontoon-base/mesh/FrameAndDecking.STL
vrx/wamv_description/models/pontoon-base/mesh/FrameAndDecking.dae
RAITE /ws/src/autonomy_boat/models/pontoon-base/mesh/FrameAndDecking.STL
RAITE /ws/src/autonomy_boat/models/pontoon-base/mesh/FrameAndDecking.dae

