[net]
# Testing
#batch=1
#subdivisions=1
# Training
batch=64
subdivisions=1
width=416
height=416
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation=1.5
exposure=1.5
hue=0.1

learning_rate=0.00261
burn_in=1000
max_batches=150000
policy=steps
steps=120000,135000
scales=0.1,0.1

##################################
# Start of the Network Layers
##################################

[convolutional]
batch_normalize=1
filters=24
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=24
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=24
size=3
stride=1
pad=1
activation=leaky

# First Grouped Convolution Block
[route]
layers=-1
groups=2
group_id=1

[convolutional]
batch_normalize=1
filters=12  # Adjusted filters to match grouped channels (24/2)
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=12
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-1,-2

[convolutional]
batch_normalize=1
filters=24  # Sum of previous filters (12+12)
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-6,-1

[maxpool]
size=2
stride=2

# Second Grouped Convolution Block
[convolutional]
batch_normalize=1
filters=24
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-1
groups=2
group_id=1

[convolutional]
batch_normalize=1
filters=12  # Adjusted filters for grouped channels
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=12
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-1,-2

[convolutional]
batch_normalize=1
filters=24  # Sum of previous filters
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-6,-1

[maxpool]
size=2
stride=2

# Third Grouped Convolution Block
[convolutional]
batch_normalize=1
filters=24
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-1
groups=2
group_id=1

[convolutional]
batch_normalize=1
filters=12  # Adjusted filters for grouped channels
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=12
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-1,-2

[convolutional]
batch_normalize=1
filters=24  # Sum of previous filters
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-6,-1

[maxpool]
size=2
stride=2

# Final Convolution Block before YOLO layers
[convolutional]
batch_normalize=1
filters=24
size=3
stride=1
pad=1
activation=leaky

##################################
# YOLO Detection Layers
##################################

[convolutional]
batch_normalize=1
filters=12  # Adjusted filters
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=24
size=3
stride=1
pad=1
activation=leaky

# Final convolutional layer before YOLO
[convolutional]
size=1
stride=1
pad=1
filters=24  # Calculated as (classes + 5) * num_anchors_per_layer = (3 + 5) * 3 = 24
activation=linear

[yolo]
mask=3,4,5
anchors=10,14,  23,27,  37,58,  81,82,  135,169,  344,319
classes=3
num=6
jitter=0.3
scale_x_y=1.05
cls_normalizer=1.0
iou_normalizer=0.07
iou_loss=ciou
ignore_thresh=0.7
truth_thresh=1
random=0
resize=1.5
nms_kind=greedynms
beta_nms=0.6

# Second YOLO Detection Layer
[route]
layers=-4

[convolutional]
batch_normalize=1
filters=12  # Adjusted filters
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers=-1,23  # Adjusted layer index if necessary

[convolutional]
batch_normalize=1
filters=24  # Adjusted filters
size=3
stride=1
pad=1
activation=leaky

# Final convolutional layer before second YOLO
[convolutional]
size=1
stride=1
pad=1
filters=24  # (classes + 5) * num_anchors_per_layer = 24
activation=linear

[yolo]
mask=0,1,2
anchors=10,14,  23,27,  37,58,  81,82,  135,169,  344,319
classes=3
num=6
jitter=0.3
scale_x_y=1.05
cls_normalizer=1.0
iou_normalizer=0.07
iou_loss=ciou
ignore_thresh=0.7
truth_thresh=1
random=0
resize=1.5
nms_kind=greedynms
beta_nms=0.6

